#slideshow {
  margin: 0 auto;   
  box-sizing: border-box;  
  height: 280px;
  width: 100%;
}

#slideshow-inline {  
  margin: 0 auto;
  box-sizing: border-box;  
}

.entire-content {
  margin: auto;
  width: 215px;
  perspective: 1000px;
  position: relative;
  padding-top: 45px;
}

.entire-content-inline {
  display: flex;
  
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 35s infinite linear;
  transform-style: preserve-3d;
  @media (max-width: 425px) {    
    width: 80%;
  }
}

.content-carrousel-inline {
  display: flex;
  justify-content: space-around;
  width: 80%;
  position: static;
  animation: none;
  transform-style: flat;
  gap: 10px;
  margin: 0 auto;
  @media (max-width: 425px) {   
    flex-direction: column; 
  }
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure, .content-carrousel-inline figure {
  width: 100%;
  height: 145px;
  border: 2px solid #3b444b;
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
}

.content-carrousel-inline figure {
  position: static;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
} 
.content-carrousel figure:nth-child(2) {
  transform: rotateY(51.43deg) translateZ(300px);
} 
.content-carrousel figure:nth-child(3) {
  transform: rotateY(102.86deg) translateZ(300px);
} 
.content-carrousel figure:nth-child(4) {
  transform: rotateY(154.29deg) translateZ(300px);
} 
.content-carrousel figure:nth-child(5) {
  transform: rotateY(205.72deg) translateZ(300px);
} 
.content-carrousel figure:nth-child(6) {
  transform: rotateY(257.15deg) translateZ(300px);
} 
.content-carrousel figure:nth-child(7) {
  transform: rotateY(308.58deg) translateZ(300px);
}

.shadow {
  position: absolute;
  box-shadow: 0px 0px 20px 0px #000;
  border-radius: 1px;
}

.content-carrousel img, .content-carrousel-inline img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.content-carrousel img:hover, .content-carrousel-inline img:hover {
  filter: brightness(2.5);  
  transition: all 80ms;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  } to {
    transform: rotateY(360deg);
  }
}
