// src/components/GameList/GameList.scss
.gameList {
  .filter {
    display: flex;
    justify-content:center;
    label {
      margin-right: 10px;
      margin-top: 1px;
      font-size: 25px;
    }
    select {
      padding: 5px;
      border: 2px solid #fd6b4f;
      border-radius: 5px;
    }
  }
  .games {
    display: flex;
    flex-wrap: wrap;
    padding: 70px;
    @media (max-width: 770px) {   
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;       
      
    }
    a{
      background-color: #242d75;      
    }
    .game {
      width: calc(33.333% - 20px);
      margin: 10px;
      padding: 10px;
      border: 3px solid #50bfe5;
      border-radius: 4px;
      @media (max-width: 770px) {   
        width: 100%;       
        
      }
      
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 4px;
      }
      h3 {
        margin: 10px 0;
        
      }
      p {
        margin: 5px 0;
        background-color: #fe247f7b;
      }
      .category {
        font-style: italic;        
      }
    }
  }
}
