// src/components/GameList/GameList.scss
.gameList {
  .filter {
    display: flex;
    justify-content:center;
    
    select {
      padding: 5px;
      border: 2px solid #fd6b4f;
      border-radius: 5px;
      font-size: 18px;
    }
  }
  .games {
    display: flex;
    flex-wrap: wrap;
    padding-inline: 200px;
    padding-block: 20px;
    
    @media (max-width: 975px) {   
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center; 
      padding-inline: 0;      
      
    }
    @media (max-width: 1540px) {   
      padding-inline: 0;      
      
    }
    a{
      background-color: #242d75;      
    }
    .game {
      width: calc(33.333% - 20px);
      margin: 10px;
      padding: 10px;
      border: 3px solid #50bfe5;
      border-radius: 10px;
      @media (max-width: 770px) {   
        width: 100%;       
        
      }
      @media (max-width: 975px) {   
        width: 100%;         
      }
      img {
        width: 100%;
        height: 265px;
        object-fit: contain;
        border-radius: 15px;
        padding: 10px;
        @media (max-width: 975px) {   
          height: 300px; 
          object-fit:contain;     
          
        }
      }
      h3 {
        margin: 10px 0;
        text-align: center;
        padding-bottom: 5px;
        color: #ffbd62;
        
      }
      p {
        margin: 15px;
      }      
    }
  }
}
